# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*                     @Lovely-Development-Team/mottobotto-builders

*.swift                  @Lovely-Development-Team/st-jude-app-codeowners
*.xcodeproj/*            @Lovely-Development-Team/st-jude-app-codeowners
*.json                   @Lovely-Development-Team/st-jude-app-codeowners @mattcooksey12
CODEOWNERS               @Lovely-Development-Team/st-jude-app-codeowners
