<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.rosemaryorchard.stjude.refresh</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dev.snailedit.stjude</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>relay-fm-for-st-jude</string>
			</array>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CampaignLockScreenConfigurationIntent</string>
		<string>ConfigurationIntent</string>
		<string>FundraisingEventConfigurationIntent</string>
		<string>FundraisingEventLockScreenConfigurationIntent</string>
		<string>GetFundraiserIntent</string>
		<string>GetMainFundraisingEventIntent</string>
		<string>HeadToHeadConfigurationIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ChicagoFLF.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
