<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.rosemaryorchard.stjude.refresh</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon-icon2024</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-icon2024</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-icon2025</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-icon2025</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-regular</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-regular</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dev.snailedit.stjude</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>relay-fm-for-st-jude</string>
			</array>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CampaignLockScreenConfigurationIntent</string>
		<string>ConfigurationIntent</string>
		<string>FundraisingEventConfigurationIntent</string>
		<string>FundraisingEventLockScreenConfigurationIntent</string>
		<string>GetFundraiserIntent</string>
		<string>GetMainFundraisingEventIntent</string>
		<string>HeadToHeadConfigurationIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ChicagoFLF.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
